/* Reset styles */
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

/* Body Styles */
body {
  font-family: Arial, Helvetica, sans-serif; 
  background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg")
    no-repeat center;
  background-size: cover;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

/* Container */
.form-container {
  margin-top: 1rem; 
  padding: 0.7rem; 
  border-radius: 0.5rem; 
  background-color: #fff;
  transition: transform 0.5s ease;
}

.form-container:hover {
  transform: scale(1.015);
}

/* Heading */
.heading {
  color: #333; 
  text-align: center; 
  font-weight: bold; 
  margin-bottom: 0.7rem; 
}

/* Label */
.label {
  font-size: 1.2rem; 
  margin-bottom: 0.3rem;
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  margin-bottom: 0.5rem; 
  padding: 0.5rem; 
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 0.3rem; 
  width: 100%; 
}

/* Buttons */
.btn {
  padding: 0.3rem; 
  text-align: center; 
}

/* Submit button */
.submit-btn {
  color: #fff; 
  background-color: #333; 
  padding: 0.3rem 2rem; 
  font-size: 1.2rem; 
  border: none; 
  border-radius: 0.5rem; 
  cursor: pointer; 
}

/* Submit button hover */
.submit-btn:hover {
  color: #f00; 
}

/* Error message */
.error-msg {
  color: #f00; 
  font-size: 1rem; 
  margin-bottom: 0.5rem; 
}
